  .content {
    display: flow;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
