<button mat-raised-button color="primary" (click)="registerApp()">Register New App</button>



<mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'20px'">
  <mat-grid-tile *ngFor="let app of apps">

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <!--        <div mat-card-avatar class="example-header-image"></div>-->
        <div mat-card-avatar class="icon-avatar">
          <mat-icon>workflow</mat-icon>
        </div>
        <mat-card-title>Batch Neurology</mat-card-title>
        <mat-card-subtitle>autosys</mat-card-subtitle>
      </mat-card-header>
      <!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>
          Efficient scheduling, execution, and management of batch jobs related to neurological data processing or any application requiring sequential and parallel job execution. It ensures optimized workflows, error handling, and smooth data processing across interconnected jobs.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="app.status !== 'running'" mat-button color="primary" (click)="startApp(app.id)">Start</button>
        <button *ngIf="app.status === 'running'" mat-button color="accent" (click)="stopApp(app.id)">Stop</button>
        <button mat-button color="warn" (click)="deleteApp(app.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
